{% extends 'base.html' %}

{% load static %}


{% block title %}
Faixas de Graduação
{% endblock title %}

{% block content %}

    {% for faixa in faixa_list %}
        <div class="container-fluid">

                <div class="row border border-gray-900">
                    <div class="col-3 mb-3 mb-lg-0">
                        <a href="{{ faixa.get_absolute_url }}">
                            <center>
                                <img class="rounded-circle" src="/media/{{faixa.cor_faixa}}" width="180" alt="">
                            </center>
                        </a>
                    </div>
                    <div class="col-9">
                        <a class="text-decoration-none text-dark" href="{{ faixa.get_absolute_url }}">
                            <h5 class="md:text-5xl text-4xl font-semibold mb-4">{{ faixa.name }}</h5>
                        </a>
                        <a class="text-decoration-none text-dark">
                            <p class="md:text-xl text-lg">Nível: {{ faixa.nivel }}</p>
                        </a>
                    </div>
                </div>

        </div>
    {% endfor %}        



<footer class=" px-5 py-10 ">
    <ul class="flex justify-between items-center">

        <li>&copy; 2022</li>
        <li> Feito com Python (Django)</li>
        <li>M4N3</li>
    </ul>
</footer>

{% endblock content %}
